@model GymManagement.Domain.Entities.MembershipStatus
@{ ViewData["Title"] = "Видалення статус членства"; }

<h2>Видалити стаутс членства?</h2>
<p>Ви впевнені що хочете видалити <strong>@Model.Name</strong>?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>