@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser>   UserManager

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GymManagement</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GymManagement.WebMVC.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">🏋 GymManagement</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Дашборд</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Довідники</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-controller="TrainingCategory" asp-action="Index">Категорії тренувань</a></li>
                            <li><a class="dropdown-item" asp-controller="TrainingType"     asp-action="Index">Типи тренувань</a></li>
                            <li><a class="dropdown-item" asp-controller="Specialization"   asp-action="Index">Спеціалізації</a></li>
                            <li><hr class="dropdown-divider"/></li>
                            <li><a class="dropdown-item" asp-controller="MembershipType"   asp-action="Index">Типи абонементів</a></li>
                            <li><a class="dropdown-item" asp-controller="MembershipStatus" asp-action="Index">Статуси абонементів</a></li>
                            <li><a class="dropdown-item" asp-controller="SessionStatus"    asp-action="Index">Статуси занять</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Управління</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-controller="User"             asp-action="Index">Користувачі</a></li>
                            <li><a class="dropdown-item" asp-controller="Client"           asp-action="Index">Клієнти</a></li>
                            <li><a class="dropdown-item" asp-controller="Trainer"          asp-action="Index">Тренери</a></li>
                            <li><hr class="dropdown-divider"/></li>
                            <li><a class="dropdown-item" asp-controller="MembershipPlan"   asp-action="Index">Плани абонементів</a></li>
                            <li><a class="dropdown-item" asp-controller="UserMembership"   asp-action="Index">Абонементи</a></li>
                            <li><a class="dropdown-item" asp-controller="ScheduledSession" asp-action="Index">Заняття</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <span class="nav-link text-warning fw-semibold">
                                👤 @UserManager.GetUserName(User)
                            </span>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-outline-light my-1 my-md-0 ms-1">
                                    Вийти
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Увійти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Реєстрація</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted mt-4">
    <div class="container">
        &copy; 2026 GymManagement &mdash;
        <a asp-controller="Home" asp-action="Privacy">Конфіденційність</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
